
@{
    ViewBag.Title = "Barangay Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="swim-content">
        <div class="container">
            <div>
                <center>
                    <h2>Create an Account</h2><br />
                    <p><input type="text" id="txtCode" name="txtCode" placeholder="Barangay Name" /></p><br />
                    <h6>Address</h6><br />
                    <p><input type="text" id="txtCode" name="txtCode" placeholder="Street" /></p><br />
                    <p><input type="text" id="txtCode" name="txtCode" placeholder="City Town" /></p><br />
                    <h6>Contact Person:</h6><br />
                    <p><input type="text" id="txtCode" name="txtCode" placeholder="Contact Person's Email Address" /></p><br />
                    <p><input type="text" id="txtCode" name="txtCode" placeholder="Contact Person's Phone Number" /></p><br />
                    <br />
                </center>
                <div>
                    <p align="center"><input onclick="location.href='@Url.Action("BReg1")'" class="btn btn-primary btn-md" value="Next" /></p>
                    <p align="center"><input onclick="location.href='@Url.Action("BLogin")'" class="btn btn-primary btn-md" value="Back" /></p>
                </div>


            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
