
@{
    ViewBag.Title = "Barangay";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="swim-content">
        <div class="container">
            <div>
                <center>
                    <h2>Create an Account</h2><br />
                    <p>No.  of skilled workers available in your Barangay:</p>
                    <p><input type="text" id="txtCode" name="txtCode" /></p><br />
                    <p>Types of skilled workers available:</p>
                    <p><input type="checkbox" id="txtCode" name="txtCode" />Carpentry</p>
                    <p><input type="checkbox" id="txtCode" name="txtCode" />Construction</p>
                    <p><input type="checkbox" id="txtCode" name="txtCode" />Electrical</p>
                    <p><input type="checkbox" id="txtCode" name="txtCode" />Welding</p>
                    <p><input type="checkbox" id="txtCode" name="txtCode" />Plumbing</p>
                    <p><input type="checkbox" id="txtCode" name="txtCode" />Automotive</p>
                    <p><input type="checkbox" id="txtCode" name="txtCode" />Cleaning</p>
                    <p><input type="checkbox" id="txtCode" name="txtCode" />Roofing</p>
                    <p><input type="checkbox" id="txtCode" name="txtCode" />Landscaping</p>
                    <br />
                </center>
                <div>
                    <p align="center"><input onclick="location.href='@Url.Action("BReg2")'" class="btn btn-primary btn-md" value="Next" /></p>
                    <p align="center"><input onclick="location.href='@Url.Action("BReg")'" class="btn btn-primary btn-md" value="Back" /></p>
                </div>


            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>

